.header {
  padding: 5px 20px;
  background: royalblue;
}

.title {
  color: aliceblue;
  text-decoration: none;
}

.login, .register {
  float: right;
  text-decoration: none;
  color: aliceblue;
  padding-top: 10px;
}


.logout, .new-post, .profile {
  float: right;
  color: aliceblue;
  padding-top: 10px;
  font-size: 25px;
}

.logout:hover, .new-post:hover, .profile:hover {
  color: aliceblue;
  text-decoration: none;
}

