<div class="container justify-content-center">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    <div class="form-group">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username"
             required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="text" id="inputEmail" [formControlName]="'email'" class="form-control" placeholder="Email"
             required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control"
             placeholder="Password" required="">
    </div>
    <!--    TODO: Check for same password-->
    <div class="form-group">
      <label for="inputConfirmPassword" class="sr-only">Password</label>
      <input type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'" class="form-control"
             placeholder="Confirm Password" required="">
    </div>
    <img id="img" [src]="avatar" height="200" *ngIf="avatar">
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="inputGroupFile02">
        <label class="custom-file-label" for="inputGroupFile02">Choose Avatar</label>
      </div>
      <div class="input-group-append">
        <button type="submit" class="input-group-text" id="">Submit</button>
      </div>
    </div>
    <div class="feedback">
      <label id="feedback"></label>
    </div>
  </form>
</div>
