<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="blog-title">{{post.title}}</h1>
        <span>
          <p>by <label class="post-author">{{post.username}}</label></p>
        </span>
        <hr>
        <p [innerHTML]="post.content"></p>
        <hr>
        <img class="picture" [src]="picture" height="200" *ngIf=post.pic>
        <div class="buttons" *ngIf="authService.isOwner(post.username)">
          <button type="button" class="delete" (click)="deletePost()">Delete</button>
          <button type="button" class="edit" (click)="editPost()">Edit</button>
        </div>
      </div>

    </div>
  </div>
</div>
